body {
    font-family: 'Arial', sans-serif;
    padding: 0px;
    background-color: #ebdfec;
    margin: 5px;
    border-width: 10px;
    border-color: black;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  .container {
    width: 98%;
    margin: auto;
  }
  
  header {
    background-color: #9836c9;
    color: white;
    padding: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  header h1 {
    margin: 0;
    text-align: end;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    text-align: end;
    margin-left: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  
  .nav li:hover {
    text-decoration:solid;
  }

  .align {
    margin-bottom: 20px;
    justify-content: space-around;
    text-align: end;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .car-details {
    flex: 1;
  }
  
  .cost-calculation {
    flex: 1;
  }
  
  .car-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .car-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .booking-form {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #9836c9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .dropdown {
    position: flex;
    margin: 20px 10px 20px 80px;
  }
  
  h2 {
    color:#9836c9;
}