body {
  font-family: 'Arial', sans-serif;
  padding: 0px;
  background-color: #ebdfec;
  margin: 5px;
  border-width: 10px;
  border-color: black;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: 98%;
  margin: auto;
}

header {
  background-color: #9836c9;
  color: white;
  padding: 1em 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

header h1 {
  margin: 0;
  text-align: end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  text-align: end;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}


.nav li:hover {
  text-decoration:solid;
}

section {
  padding: 20px;
}

footer {
  background-color: #9836c9;
  color: white;
  padding: 2em 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.footer-details,
.footer-contact {
  width: 50%;
  display: inline-block;
}

.align {
  margin-bottom: 20px;
  justify-content: space-around;
  text-align: end;
}

.dropdown {
  position: flex;
  margin: 20px 10px 20px 80px;
}

#datepicker {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #daa3f5;
  border-radius: 4px;
}

.dropdown2 {
  position: flex;
  margin: 20px 10px 20px 80px;
}

#datepicker2 {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #daa3f5;
  border-radius: 4px;
}

.cal-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-container {
  background-color: #daa3f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 350px;
  text-align: center;
  display: inline-block;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  word-wrap: break-word;
  overflow-y: scroll;
  /* white-space: nowrap; */
}

.form-container::-webkit-scrollbar {
  display: none;
}

.contentwrapper {
  margin: 10px 0px;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  word-wrap: break-word;
}

button {
  background-color:#9836c9;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #8937b2;
  transition: background-color 0.3s;
}