body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ebdfec;
    margin: 0px 0px 0px 0px;
    padding: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    /* background: url(./dark-black-fast-sports-car-street-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; */

}

body::-webkit-scrollbar {
    display: none;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px 20px 300px;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* background-color: aqua; */
}

.toggle-label {
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: blue;
}

.toggle-label input {
    display: none;
}

.toggle-slider {
    position: absolute;
    float: center;
    cursor: pointer;
    /* background-color:#45a049; */
    transition: 0.4s;
    background: transparent;
    /* border: ; */
    border-radius: 100px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    align-content: center;
    height: 20px;
    width: 20px;    
    left: 4px;
    bottom: 4px;
    background-color: #9836c9;
    transition: 0.4s;
    border-radius: 50%;
}

/* .toggle-slider::after {
    position: absolute;
    content: "user";
    align-content: center;
    height: 30px;
    width: 80px;
    left: 4px;
    bottom: 4px;
    background-color:#45a049;
    transition: 0.4s;
    border-radius: 50%;
} */

.toggle-label input:checked+.toggle-slider:before {
    transform: translateX(40px);
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 300px;
    text-align: center;
}

h2 {
    color:#9836c9;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #9836c9;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #8937b2;
    transition: background-color 0.3s;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #9836c9;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.forgot-password {
    margin-top: 20px;
    font-size: 14px;
}

.forgot-password a {
    color: #9836c9;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* .dropdown {
    position: flex;
    margin-left: 10%;
    margin-right: 7%; 
    justify-content: center;
}

#datepicker {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #45a049;
    border-radius: 4px;
}

.dropdown2 {
    position: flex;
    margin-right: 2%; 
    justify-content: center;
}

#datepicker2 {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #45a049;
    border-radius: 4px;
} */

/* .containerh {
    width: 98%;
    margin: auto;
  }
  
  header {
    background-color: #9836c9;
    color: white;
    padding: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
  header h1 {
    margin: 0;
    text-align: end;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    text-align: end;
    margin-left: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  
  .nav li:hover {
    text-decoration:underline;
  } */